.artifact-list-item {
    padding: 5px;
    border-bottom: 1px solid #ddd;
    display: flex;
}
.artifact-list-item:hover {
    background-color: #eeeefe;
    cursor: pointer;
}

.artifact-list-item.selected {
    background-color: #eee;
}

.artifact-list-item .artifact-list-item-radio {
    min-width: 40px;
    text-align: center;
}

.artifact-list-item .artifact-list-item-icon {
    padding-right: 10px;
}

.artifact-list-item .artifact-list-item-info {
    flex-grow: 1;
}

.artifact-list-item .artifact-list-item-info .artifact-title a, .artifact-list-item .artifact-list-item-info .artifact-title a:hover {
    text-decoration: none;
}

.artifact-list-item .artifact-list-item-info .artifact-title .group {
    font-weight: bold;
}
.artifact-list-item .artifact-list-item-info .artifact-title .group::after {
    color: #9c9c9c;
    content: "/";
    font-size: 11px;
    padding: 0 5px 0px 5px;
    line-height: 12px;
}

.artifact-list-item .artifact-list-item-info .artifact-title .nogroup {
    display: none;
}

.artifact-list-item .artifact-list-item-info .artifact-title .name {
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
}
.artifact-list-item .artifact-list-item-info .artifact-title .id::before {
    content: '(';
}
.artifact-list-item .artifact-list-item-info .artifact-title .id {
    font-weight: bold;
    font-size: 16px;
}
.artifact-list-item .artifact-list-item-info .artifact-title .id::after {
    content: ')';
}

.artifact-list-item .artifact-list-item-info .artifact-title .status-badge {
    margin-left: 10px;
    border: 1px solid #ccc;
}

.artifact-list-item .artifact-list-item-info .artifact-description {
    font-size: 13px;
}

.artifact-list-item .artifact-list-item-info .artifact-tags {
}

.artifact-list-item .artifact-list-item-info .artifact-tags > span {
    margin-right: 5px;
}

.artifact-list-item .artifact-list-item-versions {
    padding-left: 5px;
    padding-right: 5px;
    min-width: 150px;
}
